<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="60a1bd">  <td>17/03/15 17:42:06</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BuissnessFlow.is_TATAHealthPlus_Home_Page_Up()[pri:1, instance:com.tatahealth.monitoring.BuissnessFlow@31ef45e3]">is_TATAHealthPlus_Home_Page_Up</td> 
  <td>main@836514715</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>17/03/15 17:42:15</td>   <td>9276</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BuissnessFlow.is_User_is_able_to_log_In()[pri:2, instance:com.tatahealth.monitoring.BuissnessFlow@31ef45e3]">is_User_is_able_to_log_In</td> 
  <td>main@836514715</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>17/03/15 17:42:05</td>   <td>-862</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BuissnessFlow.setUp()[pri:0, instance:com.tatahealth.monitoring.BuissnessFlow@31ef45e3]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@836514715</td>   <td></td> </tr>
<tr bgcolor="60a1bd">  <td>17/03/15 17:42:54</td>   <td>48681</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BuissnessFlow.tearDown()[pri:0, instance:com.tatahealth.monitoring.BuissnessFlow@31ef45e3]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@836514715</td>   <td></td> </tr>
</table>
